.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: var(--big-font);
}

.desc {
    text-indent: 2em;
    padding-left: -2em;
    margin: 0;
    margin-bottom: 2em;
}