.main {
    margin: 0 15%;
    display: flex;
}

.desc {
    margin-right: 5%;
}

.images {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
}

.img {
    min-width: 60em;
    max-width: 100em;
    width: 100%;
    height: auto;
    border: solid 2px var(--lightest-color);
    border-radius: 2em;
}

.img:hover {
    transform: scale(150%);
}

.primeiroh2 {
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        margin: 0 2%;
    }

    .desc {
        margin-right: 1%;
    }

    .images {
        margin-top: 2em;
    }
}